.progressBar {
  position: sticky;
  top: 0;
  left: 0;
  height: 10px;
  color: red;
}

.default {
  background: red;
}

.colored {
  background: green;
}

.error.dark {
  color: black;
}

.error.ligth {
  color: white;
}

.light {
  background-color: aquamarine;
}
